body {
  background: #002e60;
}

.ripple-background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.small-right {
  width: 200px;
  height: 200px;
  right: -100px;
  top: -100px;
}

.medium-right {
  width: 400px;
  height: 400px;
  right: -200px;
  top: -200px;
}

.large-right {
  width: 600px;
  height: 600px;
  right: -300px;
  top: -300px;
}

.xlarge-right {
  width: 800px;
  height: 800px;
  right: -400px;
  top: -400px;
}

.xxlarge-right {
  width: 1000px;
  height: 1000px;
  right: -500px;
  top: -500px;
}

.shade1 {
  opacity: 0.2;
}

.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

/*************** ESTILOS RESPONSIVOS ***************/

/* Animacion general */
@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.8);
  }
}

.circle,
.circle-right {
  position: fixed;
  border-radius: 50%;
  background: #009475;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #139441;
}

/* Laptop 1240px */
@keyframes ripple-laptop {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(0.5);
  }
}

@media only screen and (max-width: 1241px) {

  .circle,
  .circle-right {
    animation: ripple-laptop 15s infinite;
  }
}

/* Tablet */
@keyframes ripple-tablet {
  0% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(0.4);
  }
}

@media only screen and (max-width: 769px) {

  .circle,
  .circle-right {
    animation: ripple-tablet 15s infinite;
  }
}

/* Mobil */
@keyframes ripple-mobil {
  0% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(0.4);
  }
}

@media only screen and (max-width: 426px) {

  .circle,
  .circle-right {
    animation: ripple-mobil 15s infinite;
  }

  #circle-right {
    display: none;
  }

  .ripple-background {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .small,
  .medium,
  .large,
  .xlarge,
  .xxlarge {
    left: auto;
    right: auto;
  }
}