#messageContainer {
    margin-top: 5%;
    margin-bottom: 8%;
    background-color: #FFEDBF;
    border-radius: 8px;
    border: 1px solid #B49E68;
}

#messageMargin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

#message {
    color: #B49E68;
    font-size: 14px;
}

#icon {
    margin-right: 4%;
}

#alertIcon {
    width: 60px;
    height: auto;
}

#buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    width: 100%;
    padding: 8px;
    border-radius: 50px;
}

/*************** Disenos responsivos ***************/

@media only screen and (max-width: 769px) {
    #form {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 426px) {
    #title {
        border-bottom: none;
        text-align: start;
        font-size: 35px;
        padding-bottom: 0px;
    }

    #button {
        padding: 5px;
    }
    
    #message {
        font-size: 12px;
    }
}