body {
  display: flex;
  margin: 0;
  background-color: white;
}

.sidebar,
.side-bar {
  background-color: #002e60;
  color: white;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.h-full {
  height: 100vh;
  background-color: #002e60;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px #797979;
}



main {
  display: flex;
  flex-grow: 1;
}

section {
  order: 1;
  margin: 10px;
}

.logo {
  width: auto;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15%;
  border-bottom: #265e9b 3px solid;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 30px;
  padding-top: 15px;
  border-bottom: #265e9b 3px solid;
}

.info {
  color: white;
  font-weight: bold;
}

.item {
  padding: 15px;
  width: 260px;
  transition: all 0.3s;
  display: flex;
  border-radius: 0%;
}

.item:hover {
  background-color: #032143;
  color: #009475;
  border-left: 10px solid #009475;
  font-weight: 600;
}


#btn-logout {
  background-color: #009475;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  width: 210px;
  border-radius: 12px;
  font-weight: bold;
  transition: all 0.3s;
}

#btn-logout:hover {
  transform: scale(1.05);
  background-color: #a70000;
}