#generalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#carruselContainer {
  height: 50%;
}

#graphicContainer {
  height: 50%;
}

.title {
    font-weight: bold;
    font-size:18px;
    color: #7C7C7C;
}
